<%= render "shared/header" %>
<main class="main">
  <div class="inner">
    <% if user_signed_in? %>
      <div class="greeting">
        こんにちは、
        <%= link_to "#{current_user.nickname}さん", edit_user_registration_path(current_user), class: :greeting__link%>
      </div>
      <% @posts.each do |post| %>
      <tr>
        <td><%= post.weight %>kg</td>
        <td><%= post.start_time.strftime("%Y-%m-%d") %></td>
        <td><%= link_to '編集する', edit_post_path(post.id) %></td>
        <td><%= link_to '削除する',post_path(post.id), method: :delete, data: { confirm: '本当に削除してよろしいですか?' } %></td>
      </tr>
      <% end %>
      <div>
      <%= link_to(new_post_path, class: 'purchase-btn') do %>
      <%= image_tag 'yotei_btn.png' , size: '237x47' ,class: "purchase-btn-icon" %>
      <% end %>
      </div>
    <% end %>
    <div class="card__wrapper">
    <%= month_calendar events: @posts do |date, posts| %>
        <%= date.day %>
        <% posts.each do |post| %>
          <div>
            <%= link_to "#{post.weight}kg", edit_post_path(post.id) %>
            <%= link_to "#{post.today1_id}#{post.today1_memo}", edit_post_path(post.id) %>
            <%= link_to "#{post.today2_id}#{post.today2_memo}", edit_post_path(post.id) %>
            <%= link_to "#{post.today3_id}#{post.today3_memo}", edit_post_path(post.id) %>

          </div>
        <% end %>
    <% end %>
    </div>
  </div>
</main>
<%= render "shared/footer" %>

